*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

div{
    text-decoration: none;
    justify-content: space-between;
    color: white;
}

header{
    background-color: darkgoldenrod;
}

h2{
    text-align: center;
    font-family: serif;
    height: 100px;
}
p{
    text-align: center;
    font-family: sans-serif;
    height: 50px;
}

footer{
    background-color: darkgoldenrod;
}

li{
    color: white;
}